@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#91D9C4,#388A76);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(38, 90, 76, 0.815);
    width: 600
    px;
    padding: 20px;
    margin: auto;
}
h1{
color: #25594B;
text-align: center;
text-shadow: 1px 1px 2px #1d463b3a;
}
h2{
color: #46A68B;
}
p{
    text-align: justify;
}